In [54]:
!pip install yfinance

Requirement already satisfied: yfinance in d:\anaconda3\envs\mediapipe\lib\site-packages (0.2.22)
Requirement already satisfied: appdirs>=1.4.4 in d:\anaconda3\envs\mediapipe\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: lxml>=4.9.1 in d:\anaconda3\envs\mediapipe\lib\site-packages (from yfinance) (4.9.2)
Requirement already satisfied: multitasking>=0.0.7 in d:\anaconda3\envs\mediapipe\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: frozendict>=2.3.4 in d:\anaconda3\envs\mediapipe\lib\site-packages (from yfinance) (2.3.8)
Requirement already satisfied: beautifulsoup4>=4.11.1 in d:\anaconda3\envs\mediapipe\lib\site-packages (from yfinance) (4.12.2)
Requirement already satisfied: requests>=2.26 in d:\anaconda3\envs\mediapipe\lib\site-packages (from yfinance) (2.29.0)
Requirement already satisfied: numpy>=1.16.5 in d:\anaconda3\envs\mediapipe\lib\site-packages (from yfinance) (1.23.5)
Requirement already satisfied: html5lib>=1.1 in d:\anaconda3\envs\mediapipe\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: pandas>=1.3.0 in d:\anaconda3\envs\mediapipe\lib\site-packages (from yfinance) (2.0.2)
Requirement already satisfied: pytz>=2022.5 in d:\anaconda3\envs\mediapipe\lib\site-packages (from yfinance) (2022.7)
Requirement already satisfied: soupsieve>1.2 in d:\anaconda3\envs\mediapipe\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4)
Requirement already satisfied: webencodings in d:\anaconda3\envs\mediapipe\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in d:\anaconda3\envs\mediapipe\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\anaconda3\envs\mediapipe\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in d:\anaconda3\envs\mediapipe\lib\site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: idna<4,>=2.5 in d:\anaconda3\envs\mediapipe\lib\site-packages (from requests>=2.26->yfinance) (3.4)
Requirement already satisfied: charset-normalizer<4,>=2 in d:\anaconda3\envs\mediapipe\lib\site-packages (from requests>=2.26->yfinance) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in d:\anaconda3\envs\mediapipe\lib\site-packages (from requests>=2.26->yfinance) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in d:\anaconda3\envs\mediapipe\lib\site-packages (from requests>=2.26->yfinance) (2023.5.7)

In [1]:
import yfinance as yf

SYMBOL="TSLA"
HISTORY="10y"

all_dayk=yf.Ticker(SYMBOL).history(period=HISTORY, interval="1d")

In [2]:
all_dayk

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2013-07-22 00:00:00-04:00,7.992667,8.445333,7.992000,8.162000,146967000,0.0,0.0
2013-07-23 00:00:00-04:00,8.266667,8.370667,8.121333,8.182667,116046000,0.0,0.0
2013-07-24 00:00:00-04:00,8.298000,8.300000,7.970667,8.113333,103035000,0.0,0.0
2013-07-25 00:00:00-04:00,8.026667,8.316667,8.012667,8.271333,79264500,0.0,0.0
2013-07-26 00:00:00-04:00,8.542667,8.712000,8.440667,8.626000,144496500,0.0,0.0
...,...,...,...,...,...,...,...
2023-07-13 00:00:00-04:00,274.589996,279.450012,270.600006,277.899994,112681500,0.0,0.0
2023-07-14 00:00:00-04:00,277.010010,285.299988,276.309998,281.380005,119771100,0.0,0.0
2023-07-17 00:00:00-04:00,286.630005,292.230011,283.570007,290.380005,131569600,0.0,0.0
2023-07-18 00:00:00-04:00,290.149994,295.260010,286.010010,293.339996,112434700,0.0,0.0
2023-07-19 00:00:00-04:00,296.040009,299.290009,289.519989,291.260010,137849600,0.0,0.0

In [3]:
all_dayk=all_dayk.drop(columns=["Dividends","Stock Splits"])

all_dayk=all_dayk[:-1]

In [4]:
all_dayk

,Open,High,Low,Close,Volume
Date,,,,,
2013-07-22 00:00:00-04:00,7.992667,8.445333,7.992000,8.162000,146967000
2013-07-23 00:00:00-04:00,8.266667,8.370667,8.121333,8.182667,116046000
2013-07-24 00:00:00-04:00,8.298000,8.300000,7.970667,8.113333,103035000
2013-07-25 00:00:00-04:00,8.026667,8.316667,8.012667,8.271333,79264500
2013-07-26 00:00:00-04:00,8.542667,8.712000,8.440667,8.626000,144496500
...,...,...,...,...,...
2023-07-12 00:00:00-04:00,276.329987,276.519989,271.459991,271.989990,95672100
2023-07-13 00:00:00-04:00,274.589996,279.450012,270.600006,277.899994,112681500
2023-07-14 00:00:00-04:00,277.010010,285.299988,276.309998,281.380005,119771100
2023-07-17 00:00:00-04:00,286.630005,292.230011,283.570007,290.380005,131569600
2023-07-18 00:00:00-04:00,290.149994,295.260010,286.010010,293.339996,112434700

In [5]:
import numpy as np
import pandas as pd

past_len=100
CLASSES=["BULL","BEAR"]
LABEL_BULL=CLASSES.index("BULL")
LABEL_BEAR=CLASSES.index("BEAR")

x,y=[], []

for today_i in range(len(all_dayk)):
    dayk_past=all_dayk[:today_i+1]
    dayk_forward=all_dayk[today_i+1:]
    if len(dayk_past) < past_len or len(dayk_forward) <1:
        continue
    dayk_past_win=dayk_past[-past_len:]
    dayk_forward_win=dayk_forward[:1]
    
    today_price=dayk_past_win.iloc[-1]["Close"]
    tomorrow_price=dayk_forward_win.iloc[0]["Close"]
    label=LABEL_BULL if tomorrow_price > today_price else LABEL_BEAR
    #store
    x.append(dayk_past_win.values)
    y.append(label)
    
x,y=np.array(x), np.array(y)

In [6]:
x.shape

(2415, 100, 5)

In [7]:
x

array([[[7.99266720e+00, 8.44533253e+00, 7.99200010e+00, 8.16199970e+00,
         1.46967000e+08],
        [8.26666737e+00, 8.37066746e+00, 8.12133312e+00, 8.18266678e+00,
         1.16046000e+08],
        [8.29800034e+00, 8.30000019e+00, 7.97066689e+00, 8.11333275e+00,
         1.03035000e+08],
        ...,
        [9.43400002e+00, 9.49933338e+00, 9.08666706e+00, 9.15733337e+00,
         1.18644000e+08],
        [9.13333321e+00, 9.44666672e+00, 8.94733334e+00, 9.43999958e+00,
         1.35922500e+08],
        [9.33666706e+00, 9.72466660e+00, 9.32400036e+00, 9.47933292e+00,
         1.61223000e+08]],

       [[8.26666737e+00, 8.37066746e+00, 8.12133312e+00, 8.18266678e+00,
         1.16046000e+08],
        [8.29800034e+00, 8.30000019e+00, 7.97066689e+00, 8.11333275e+00,
         1.03035000e+08],
        [8.02666664e+00, 8.31666660e+00, 8.01266670e+00, 8.27133274e+00,
         7.92645000e+07],
        ...,
        [9.13333321e+00, 9.44666672e+00, 8.94733334e+00, 9.43999958e+00,
         1.35922500e+08],
        [9.33666706e+00, 9.72466660e+00, 9.32400036e+00, 9.47933292e+00,
         1.61223000e+08],
        [9.45866680e+00, 9.53666687e+00, 9.29933262e+00, 9.31000042e+00,
         1.07067000e+08]],

       [[8.29800034e+00, 8.30000019e+00, 7.97066689e+00, 8.11333275e+00,
         1.03035000e+08],
        [8.02666664e+00, 8.31666660e+00, 8.01266670e+00, 8.27133274e+00,
         7.92645000e+07],
        [8.54266739e+00, 8.71199989e+00, 8.44066715e+00, 8.62600040e+00,
         1.44496500e+08],
        ...,
        [9.33666706e+00, 9.72466660e+00, 9.32400036e+00, 9.47933292e+00,
         1.61223000e+08],
        [9.45866680e+00, 9.53666687e+00, 9.29933262e+00, 9.31000042e+00,
         1.07067000e+08],
        [9.31333256e+00, 9.88266659e+00, 9.23533344e+00, 9.83133316e+00,
         1.61517000e+08]],

       ...,

       [[1.99990005e+02, 2.08440002e+02, 1.97500000e+02, 2.08309998e+02,
         2.13738500e+08],
        [2.04990005e+02, 2.09710007e+02, 1.97220001e+02, 1.97369995e+02,
         1.80018600e+08],
        [1.97929993e+02, 2.01990005e+02, 1.91779999e+02, 2.00860001e+02,
         1.91828500e+08],
        ...,
        [2.68649994e+02, 2.70899994e+02, 2.66369995e+02, 2.69790009e+02,
         9.19724000e+07],
        [2.76329987e+02, 2.76519989e+02, 2.71459991e+02, 2.71989990e+02,
         9.56721000e+07],
        [2.74589996e+02, 2.79450012e+02, 2.70600006e+02, 2.77899994e+02,
         1.12681500e+08]],

       [[2.04990005e+02, 2.09710007e+02, 1.97220001e+02, 1.97369995e+02,
         1.80018600e+08],
        [1.97929993e+02, 2.01990005e+02, 1.91779999e+02, 2.00860001e+02,
         1.91828500e+08],
        [2.03910004e+02, 2.05139999e+02, 1.96330002e+02, 2.02070007e+02,
         1.46360000e+08],
        ...,
        [2.76329987e+02, 2.76519989e+02, 2.71459991e+02, 2.71989990e+02,
         9.56721000e+07],
        [2.74589996e+02, 2.79450012e+02, 2.70600006e+02, 2.77899994e+02,
         1.12681500e+08],
        [2.77010010e+02, 2.85299988e+02, 2.76309998e+02, 2.81380005e+02,
         1.19771100e+08]],

       [[1.97929993e+02, 2.01990005e+02, 1.91779999e+02, 2.00860001e+02,
         1.91828500e+08],
        [2.03910004e+02, 2.05139999e+02, 1.96330002e+02, 2.02070007e+02,
         1.46360000e+08],
        [1.96330002e+02, 1.97669998e+02, 1.92800003e+02, 1.96880005e+02,
         1.42228100e+08],
        ...,
        [2.74589996e+02, 2.79450012e+02, 2.70600006e+02, 2.77899994e+02,
         1.12681500e+08],
        [2.77010010e+02, 2.85299988e+02, 2.76309998e+02, 2.81380005e+02,
         1.19771100e+08],
        [2.86630005e+02, 2.92230011e+02, 2.83570007e+02, 2.90380005e+02,
         1.31569600e+08]]])

In [8]:
y.shape

(2415,)

In [9]:
y

array([1, 0, 0, ..., 0, 0, 0])

In [10]:
train_spl, val_spl, test_spl = 0.7, 0.2 , 0.1

test_spl_index = -round(len(x) * test_spl)
x_orther, x_test = np.split(x, [test_spl_index])
y_orther, y_test = np.split(y, [test_spl_index])

train_spl_index = round(len(x) * train_spl)
indexes = np.arange(len(x_orther))
np.random.shuffle(indexes)
train_indexes, val_indexes = np.split(indexes, [train_spl_index])

x_train, x_val = x_orther[train_indexes], x_orther[val_indexes]
y_train, y_val = y_orther[train_indexes], y_orther[val_indexes]

label_distribution = pd.DataFrame([{"Dataset": "train",
                                    "BULL": np.count_nonzero(y_train == LABEL_BULL),
                                   "BEAR": np.count_nonzero(y_train == LABEL_BEAR)},
                                  {"Dataset": "val",
                                    "BULL": np.count_nonzero(y_val == LABEL_BULL),
                                   "BEAR": np.count_nonzero(y_val == LABEL_BEAR)},
                                   {"Dataset": "test",
                                    "BULL": np.count_nonzero(y_test == LABEL_BULL),
                                   "BEAR": np.count_nonzero(y_test == LABEL_BEAR)}])

In [11]:
label_distribution

  Dataset  BULL  BEAR
0   train   881   809
1     val   246   237
2    test   130   112

In [12]:
x_test_r = x_test[y_test == LABEL_BULL]
x_test_f = x_test[y_test == LABEL_BEAR]

min_n_labels = min(len(x_test_r), len(x_test_f))

x_test_r = x_test_r[np.random.choice(len(x_test_r), min_n_labels, replace= False), :]
x_test_f = x_test_f[np.random.choice(len(x_test_f), min_n_labels, replace= False), :]
x_test = np.vstack([x_test_r, x_test_f])

y_test = np.array([LABEL_BULL] * min_n_labels + [LABEL_BEAR] * min_n_labels)

pd.DataFrame([{"Dataset": "test",
                "BULL": np.count_nonzero(y_test == LABEL_BULL),
                "BEAR": np.count_nonzero(y_test == LABEL_BEAR)}])

  Dataset  BULL  BEAR
0    test   112   112

In [17]:
# save data
np.savez("datasetsTSLA.npz", x_train = x_train , y_train = y_train, 
         x_val = x_val , y_val = y_val, 
         x_test = x_test , y_test = y_test)

In [18]:
x_train.shape

(1690, 100, 5)

In [19]:
1690*100*5

845000

In [20]:
label_distribution

  Dataset  BULL  BEAR
0   train   881   809
1     val   246   237
2    test   130   112